/* Style the label to display next to the inputs */
/* Style the submit button */
/* Style the container */
/* Floating column for labels: 25% width */
/* Floating column for inputs: 75% width */
/* Clear floats after the columns */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25 {
    width: 100%;
    margin-top: 0;
  }
  .col-75 {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.alert {
  width: 100%;
  background: rgb(0, 255, 106);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  display: none;
}

.u-align-center {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.section_heading {
  margin-top: 1rem;
  font-size: 3.4rem;
  text-align: center;
}

.root {
  --primary-light: #426d49;
  --primary-dark: #4f612a;
  --primary-light: #28b485;
  --secondary-1: #e2b5a8;
  --secondary-2: #bbd4eb;
  --secondary-3: #B398B0;
  --secondary-4: #c4ac6c;
  --secondary-1-dark: #876C64;
  --secondary-2-dark: #707F8D;
  --secondary-3-dark: #80657D;
  --secondary-light: #ffb900;
  --tertiary-light: #2998ff;
  --violet-1: #624dd6;
  --violet-2: #bebad1;
  --violet-3: #673ab7;
  --white: #fff;
  --black: #000;
  --brown: #846c38;
  --grey-dark: #777;
  --grey-dark-2: #999;
  --grey-dark-3: #333;
  --grey-light-1: #f7f7f7;
  --grey-light-2: #eee;
  --grey-light-3: rgb(231, 228, 227);
  --nav-home: #624dd6;
  --nav-about: #51e29a;
  --nav-admission: #dd4f75;
  --nav-franchise: #88d914;
  --nav-branch: #624dd6;
  --nav-parent: #10b6fe;
  --nav-gallery: #624dd6;
  --nav-contact: #624dd6;
}