$color_1: white;
$background-color_1: #04aa6d;
$background-color_2: #f2f2f2;

/* Style the label to display next to the inputs */
/* Style the submit button */
/* Style the container */
/* Floating column for labels: 25% width */
/* Floating column for inputs: 75% width */
/* Clear floats after the columns */
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
input[type="text"] {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
select {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
}
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
input[type="submit"] {
	background-color: $background-color_1;
	color: $color_1;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}
.container {
	border-radius: 5px;
	background-color: $background-color_2;
	padding: 20px;
}
.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}
.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}
.row {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
@media screen and (max-width: 600px) {
	.col-25 {
		width: 100%;
		margin-top: 0;
	}
	.col-75 {
		width: 100%;
		margin-top: 0;
	}
	input[type="submit"] {
		width: 100%;
		margin-top: 0;
	}
}

.alert {
	width: 100%;
	background: rgb(0, 255, 106);
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
	font-weight: 900;
	display: none;
}
